// Devices 

$mobileWidth: 375px;
$desktopWidth: 1440px;

// Colors

$primaryGreen: hsl(158, 36%, 37%);
$primaryCream: #F2EAE2;

$neutralDarkBlue: hsl(212, 21%, 14%);
$neutralBlue: hsl(228, 12%, 48%);
$neutralWhite: hsl(0, 0%, 100%);