@import "./../Styles/Variables";
@import "./../App.scss";

.container {
  width: 343px;
  background-color: $neutralWhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}

.container_info {
  width: 85%;
  margin: 24px 0;
  .category {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.9rem;
    letter-spacing: 5px;
    color: $neutralBlue;
  }
  .product {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    color: $neutralDarkBlue;
    margin: 12px 0 16px 0;
  }
  .desc {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 23px;
    color: $neutralBlue;
  }
  .price {
    display: flex;
    align-items: center;
    margin: 24px 0 20px 0;
  }
  .newprice {
    font-family: "Fraunces";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: $primaryGreen;
    margin-right: 19px;
  }
  .oldprice {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    text-decoration-line: line-through;
    color: $neutralBlue;
  }
  button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primaryGreen;
    border: none;
    border-radius: 8px;
    outline: none;
    height: 3rem;
  }
  img {
    width: 1rem;
  }
}
